# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
*.log

# Git related
.git
.gitignore

# Minified files
*.min.js

# Coverage reports
coverage/

# Static files
public/
static/
